@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .unset-all{
        all: unset;
    }
    .section-min-height{
        min-height: calc(100vh - 48px);
    }
}
 
@layer base{
    html {
        scroll-behavior: smooth;
      }
}